// Kolory - tekst
$text-dark: #212121;
$text-paragraph: #444444;
$text-lightest: #ffffff;
$footer-text-color: #727272;
$hover-color: #409999;
$hover-darker: #207070;
$hover-light: #70cccc;

// Kolory - tlo 
$background-white: #fff;
$background-light-grey: #f5f5f5;
$footer-main: $text-dark;
$footer-secondary: #111111;

// Kolory - rozne
$accent-color: #4caf50;
$border-color: #e8e8e8;
$active-yellow: #ffff22;

// Tekst - wlasciwosci
$base-text-size: 16px;
$base-line-height: 24px;

// Zapytania o media
$small: 768px;
$medium: 992px;
$large: 1200px;
